<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-->The Application ID<-->
    <key>applicationId</key>
    <string>901d7f66-0f0e-49ad-ae88-82c728a8149e</string>
    <!-->Indicates whether the SDK should present logs or not. Default value: true<-->
    <key>logEnabled</key>
    <true/>
    <!-->Indicates whether the user privacy consent is required. Default value: false<-->
    <key>privacyConsentRequired</key>
    <false/>
    <!-->Indicates whether location tracking should be enabled by default during SDK initialization. Default value: true<-->
    <key>locationEnabledByDefault</key>
    <true/>
  </dict>
</plist>